
body{
  
    /* background: rgb(103, 120, 175); */

    background-image: url(./asests/bacgounde.estrada.jpg);
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;

}
header{
    color: white;
    text-align: center;
}
section{
   
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
 }  
 

 footer{
    color: white;
    text-align: center;
    font-style: italic;
 }
 img{
    width: 200px;
 }
